[submodule "themes/paperback"]
	path = themes/paperback
	url = https://github.com/damiencaselli/paperback
[submodule "public"]
	path = public
	url = git@github.com:suguni/suguni.github.io.git
	branch = master
