@font-face {
  font-family: 'Sarasa Mono K';
  src: url('/font/SarasaMonoK-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarasa Mono K';
  src: url('/font/SarasaMonoK-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sarasa Mono K';
  src: url('/font/SarasaMonoK-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sarasa Mono K';
  src: url('/font/SarasaMonoK-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

body, code, kbd {
  font-family: "Sarasa Mono K", "Fira Code", "JetBrains Mono", Monaco, Consolas, "Ubuntu Mono", monospace !important;
}
