:root {
  --background: #fffbf7;
  --foreground: #45372b;
  --accent: #df7020;
  --font-size: 0.9em;
}

body, code, kbd {
  font-family: Sarasa Fixed K, fira code, Monaco, Consolas, ubuntu mono, monospace !important;
}
